@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

$darktext: #212135;
$whitetransparent: #ffffffdb;

* {
    font-family: 'Lexend Deca', sans-serif;
}

a {
    cursor: pointer;
}

.dropdown.show .dropdown-menu,
.btn-group.show .dropdown-menu {
    display: block;
}

// Header
#mainheader {
    margin-bottom: 50px;
}

// recipe list
.reclist {
    .list {
        a {
            filter: grayscale(50%);
            color: $darktext;
            display: block;
            padding: 40px 20px;
            background-size: cover;
            background-position: center;
            text-decoration: none;
            h4 {
                color: $darktext;
                background: $whitetransparent;
                display: inline;
            }
            p {
                color: $darktext;
                background: $whitetransparent;
                display: inline;
            }
            &:hover {
                filter: grayscale(0%);
            }
            &.active {
                filter: grayscale(0%);
                h4, p {
                    background: #007bff;
                    color: #fff;
                }
            }
        }
    }
}

// recipe detail
.detail {
    padding-left: 20px;
}

// recipe edit
.newedit {
    label {
        font-weight: 700;
        margin-top: 20px;
    }
}