<div class="row">
    <div class="col-md-4">
        <h2 class="pagetitle">Login</h2>

        <!-- Show spinner (is a component) -->
        <div *ngIf="isLoading">
            <app-spinner></app-spinner>
        </div>

        <!-- Show alert if error -->
        <div class="alert alert-danger" *ngIf="hasError">
            <p><b>
                {{ hasError }}
            </b></p>
        </div>

        <!-- Show form unless it has been submitted and is loading -->
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="emailField">Email</label>
                <input type="email" id="emailField" class="form-control" name="email" ngModel required email>
            </div>
            <div class="form-group">
                <label for="passField">Password</label>
                <input type="password" id="passField" class="form-control" name="password" ngModel required
                    minlength="6"><!-- Firebase min 6 -->
            </div>

            <div class="btn-group">
                <button class="btn btn-success" type="submit" [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'Sign up'}}
                </button>
                <button class="btn btn-default" type="button" (click)="onSwitchMode()">
                    {{ isLoginMode ? 'Sign up' : 'Login'}}
                </button>
            </div>

            <br>
            <p>111111</p>
        </form>
    </div>
</div>
