<div class="detail">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px;">
            <h1 class="mt-2 mb-0">{{ recipe.name }}</h1>
            <p>{{ recipe.description }}</p>

            <div class="btn-group" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</a></li>
                    <li><a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
                    <li><a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a></li>
                </ul>
            </div>
            <ul class="list-group mt-3">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.name }} - {{ ingredient.amount }}
                </li>
            </ul>
        </div>
    </div>
</div>
