<header id="mainheader">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a routerLink="/" class="navbar-brand">RECIPE BOOK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav mr-auto">
                <li routerLinkActive="active" class="nav-item" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/recipes">Recipes</a>
                </li>
                <li routerLinkActive="active" class="nav-item" *ngIf="!isAuthenticated">
                    <a class="nav-link" routerLink="/auth">Authenticate</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
                </li>
                <li class="nav-item dropdown" appDropdown *ngIf="isAuthenticated">
                    <a class="nav-link dropdown-toggle" href="javascript: void(0);" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript: void(0);" (click)="onSaveData()">Save Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="onFetchData()">Fetch Data</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-0 text-right">
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a href="javascript: void(0);" class="nav-link" (click)="onLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
