<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="col-xs-9 form-group">
                    <label for="ingName">Name</label>
                    <input type="text" class="form-control" id="ingName" #nameInput>
                </div>
                <div class="col-xs-3">
                    <label for="ingAmount">Amount</label>
                    <input type="text" class="form-control" id="ingAmount" #amountInput>
                </div>
                <br>
                <div class="col-xs-12">
                    <div class="btn-group">
                        <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
                        <button class="btn btn-danger" type="button">Delete</button>
                        <button class="btn btn-primary" type="button">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
