<p><span class="badge">Server element cpt</span></p>
<div class="panel panel-default">
    <div class="panel-heading">{{ element.name }}</div>
    <div class="panel-body">
        <!--
            removido na aula 73 para app.cpt.html
            <p>
            <strong *ngIf="element.type === 'server'" style="color: red">Srvr {{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">Blp {{ element.content }}</em>
        </p> 
        
        Para isso tem que se adicionar:
        -->
        <ng-content></ng-content>
    </div>
</div>