<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New recipe</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let rec of recipes">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="list-group-item-heading">{{ rec.name }}</h4>
                    <p class="list-group-item-text">{{ rec.description }}</p>
                </div>
                <div class="col-md-6">
                    <!-- Como string interpolation: -->
                    <img src="{{ rec.imagePath }}" class="img-responsive" alt="{{ rec.name }}">
                    <!-- Como property binding: -->
                    <!-- <img [src]="rec.imagePath" class="img-responsive"> -->
                    <!-- Como url: -->
                    <!-- <figure [ngStyle]="{ 'background-image': 'url(' + rec.imagePath + ')'}" style="display:block; height: 200px;"></figure> -->
                </div>
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
