<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New recipe</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <!-- [recipe] é o de recipe-item.component.ts, @Input() recipe: Recipe; -->
        <app-recipe-item 
        *ngFor="let recipeEl of recipes" 
        [recipe]="recipeEl" 
        ></app-recipe-item>

        <!-- 
            1.*ngFor : Looping through an array in the parent component (which doesn't necessarily mean that you want to use the single array item in the child component; maybe in other situations you want to pass only certain properties of the item?).
            2. [recipe]="recipeEl" : Passing something to the child component (which must not necessarily be the current item of a loop).
         -->
    </div>
</div>
