@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

hr {
    margin: 30px 0;
}

.jumbo {
    h1 {
        padding: 10px;
        margin: 0;
    }
    h3 {
        padding: 10px;
        margin: 0;
        background: #e3e3e3;
    }
}