.navbar-default .navbar-nav > .active > a {
    font-weight: 700;
    color: #536a8d;
}

.well.start {
    margin-top: 54px;
    h3 {
        margin: 0;
        font-style: italic;
        color: #666;
        font-size: 16px;
    }
}

a.list-group-item.receita {
    border-radius: 0;
    &.active {
        background-color: #449aa9;
        border-color: #449aa9;
    }
}

// form recipes
#recipeform {
    .clear {
        clear: both;
    }
    img.img-responsive {
        margin: 20px 0;
    }

    table {
        margin: 0;
        td {
            padding: 4px 0;
            border: none;
            &.ing {
                width: 66%;
                padding-right: 6px;
            }
        }
    }

    input.ng-touched.ng-invalid,
    textarea.ng-touched.ng-invalid {
        border-color: crimson;
    }
}