<div class="row">
    <div class="col-xs-12">
        <p><span class="badge">Cockpit cpt</span></p>
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
        <!-- Usar local reference em vez de ngModel (2 way binding) ^ -->
        <input type="text" class="form-control" #serverNameInputByLocalReference>
        <!-- Esta local reference ao objecto HTML tb pode ser acedida facilmente: -->
        <!-- {{serverNameInputByLocalReference.value}} , .name, .id, etc -->
        <label>Server Content</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
        <!-- Usar XXXXXXXXXXXXXXXXXXXXX em vez de ngModel (2 way binding) ^ -->
        <input type="text" class="form-control" #serverContentInputByLocalReference>
        <br>
        <div class="btn-group">
            <button class="btn btn-primary" (click)="onAddServer(serverNameInputByLocalReference)">Add Server</button>
            <button class="btn btn-info" (click)="onAddBlueprint(serverNameInputByLocalReference)">Add Server Blueprint</button>
        </div>
    </div>
</div>
